img {
  max-width: 80px;
}

 li {
  list-style: none;
}

.card-item {
  display: inline-block;
}

.item {
  display: grid;
  grid-template-columns: 4fr 4fr;
  padding: 0;
}

.nav-li {
  padding: 10px 0;
  border: 1px solid red;
  width: 30vh ;
  background-color: yellow;
}

.item-container {
  cursor: pointer;
}

ul {
  height: 100%;
  border: 1px solid red;
}

.remove-btn  {
  width: 100px;
  height: 40px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
  margin: 10px 25px;
}

.order-text {
  margin: 10px 25px;
}

